body{
    background-color: #efefef;
}
.main_tienda{
    background-color: #efefef;
    .title{
        font-size: 3vh;
        font-weight: bold;
        margin: 5rem 0;
        color: #2e2e2e;
        text-align: center;
    }
    .first-fiv{
        padding: 2rem;
        border: 2px solid #606060;
        border-radius: 10px;
        .subtitle{
            margin-bottom: 2rem;
            font-size: 2vh;
            color: gray;
        }
        #formProducto{
            input{
                border: 1px solid #606060;
                width: 10rem;
                margin-left: 2rem;
                padding: .5rem;
                background-color: #efefef;
                border-radius: 10px;
                font-size: 1.7vh;
            }
            .btn{
                margin-left: 5rem;
                border-radius: 10px;
                font-size: 2vh;
                background-color: #606060;
                color: #efefef;
                transition: .5s all;
                .icon-plus{
                    font-size: 1.5vh;
                    color: #efefef;
                }
                &:hover{
                    transition: .5s all;
                    background-color: rgb(1, 180, 1);

                }
            }
        }
    }
    .second-fiv{
        margin-top: 3rem;
        padding: 2rem;
        border: 2px solid #606060;
        border-radius: 10px;
        .subtitle{
            font-size: 2vh;
            color: gray;
            margin-bottom: 2rem;

        }
        .resultados{
            border: 2px solid #606060;
            padding: 1rem;
            border-radius: 10px;    
            .header_table{
                padding-bottom: 1rem;
                border-bottom: 2px solid #606060;
                .text-tabla{
                    font-size: 1.8vh;
                    color: #2e2e2e;
                }
            }
            .body_table {
                .div_producto{
                    padding: 0;
                    .main_producto{
                        border: 2px solid #606060;
                        margin: 1rem 0;
                        padding: 1rem 0;
                        background-color: white;
                        .box_col{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .text-tabla{
                                font-size: 1.8vh;
                                color: #2e2e2e;
                                .icon-cross{
                                    padding: .5rem;
                                    border: 1px solid rgba(214, 2, 2, 0.74);
                                    border-radius: 10px;
                                    color: white;
                                    background-color: rgba(214, 2, 2, 0.74);
                                    transition: .5s all;
                                    &:hover{
                                        color: rgba(214, 2, 2, 0.74);
                                        transition: .5s all;
                                        background-color: #efefef;
                                        cursor: pointer;
                                    }
                                }
                            }
                            .img-tabla{
                                img{
                                    max-height: 150px;
                                    max-width: 150px;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main_tienda{
        .container-fluid{
            width: 95% !important;
            .first-fiv{
                #formProducto{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    input{
                        margin: 0;
                        margin-bottom: 1rem;
                    }
                    .btn{
                        margin: 0;
                    }
                }
            }
            .second-fiv{
                padding: 0.5rem;
                .resultados{   
                    border: none;
                    .header_table{
                        .box_header{
                            padding: 0;
                            .text-tabla{
                                font-size: 1.4vh;
                            }
                        }
                    }
                    .body_table {
                        .div_producto{
                            .main_producto{
                                .box_col{
                                    .text-tabla{
                                        font-size: 1.3vh;
                                    }
                                    .img-tabla{
                                        img{
                                            max-height: 60px;
                                            max-width: 100px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}