html{
  font-size: 18px;
}
body {
  margin: 0;
  font-family: 'Montserrat' !important;
  font-weight: 600 !important;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.no-scroll{
  overflow: hidden !important;
}

.container-fluid{
  width: 85% !important;
}

